body {
  margin: 0;
}

.light body {
  background: #f9fafb;
}

.dark body {
  background: #111827;
}

.sun,
.moon {
  display: block;
}

.light .sun {
  display: none;
}

.dark .moon {
  display: none;
}
